/*variables mixins y funciones*/
@font-face {
  font-family: Bebas;
  src: url(../Fonts/BebasNeue-Regular.otf); }

@font-face {
  font-family: Akira;
  src: url(../Fonts/Akira\Expanded\Demo.otf); }

@font-face {
  font-family: code;
  src: url(../Fonts/CodeSaver-Regular.otf); }

/*todo lo correspondiente al codigo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.grid-index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9fr 1fr;
  justify-content: none;
  align-content: none;
  grid-template-areas: "header" "main" "footer";
  height: 100vh; }

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  width: 99vw;
  border-bottom: solid 3px black;
  border-right: solid 3px black; }

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: none;
  width: 218px;
  height: 100%;
  background-color: #D6FF38;
  font-family: Bebas;
  font-size: 35px;
  border-right: solid 2px black;
  padding-left: 15px; }
  .logo .unpoco {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    gap: none;
    padding-right: 15px; }

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  list-style: none;
  gap: 1.25rem; }
  .navBar li a {
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
    font-family: Code;
    transition: 0.4s;
    padding-right: 40px; }
    .navBar li a:hover {
      color: #D6FF38; }

.mostrar-menu,
.esconder-menu {
  font-size: 50px;
  cursor: pointer;
  display: none;
  transition: 0.4s; }
  .mostrar-menu:hover,
  .esconder-menu:hover {
    color: #D6FF38;
    transform: scale(1.3);
    transition: 0.5s; }

.mostrar-menu {
  order: 1; }

#check {
  display: none; }

main {
  grid-area: main;
  width: 99vw; }

.TituloInicio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  font-family: Akira;
  font-size: 4rem;
  margin-top: 6.25rem; }

.Indu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  height: 38px;
  width: 100%;
  margin-top: .9375rem; }
  .Indu h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: none;
    height: 38px;
    width: 287px;
    font-size: 1.25rem;
    background-color: #D6FF38;
    font-family: Code; }

.img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  width: 90vw;
  margin-top: 4.375rem;
  margin-left: 3.125rem;
  margin-right: 50px; }

.img1 img, .img3 img {
  height: 33.625rem;
  width: 34.8125rem;
  border-radius: 1.5625rem; }

.img2 img {
  height: 41rem;
  width: 34.8125rem;
  border-radius: 1.5625rem; }

h4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  gap: none;
  font-size: 1.625rem;
  font-family: Akira;
  margin-top: 5rem; }

.Prendas1 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 500px);
  justify-content: center;
  align-content: center;
  grid-template-areas: none;
  width: 100%; }

.Prenda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
  width: 17.0625rem;
  height: 23.4375rem;
  margin: 80px; }

.imgp1, .imgp2, .imgp3, .imgp4, .imgp5, .imgp6, .imgp7, .imgp8, .imgp8-2, .imgp9, .imgp10, .imgp11, .imgp12, .imgp7-2, .imgp6-2, .imgp5-2, .imgp4-2, .imgp3-2, .imgp2-2 {
  height: 95%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  gap: none; }
  .imgp1 img, .imgp2 img, .imgp3 img, .imgp4 img, .imgp5 img, .imgp6 img, .imgp7 img, .imgp8 img, .imgp8-2 img, .imgp9 img, .imgp10 img, .imgp11 img, .imgp12 img, .imgp7-2 img, .imgp6-2 img, .imgp5-2 img, .imgp4-2 img, .imgp3-2 img, .imgp2-2 img {
    width: 100%;
    height: 89%;
    object-fit: cover;
    border-radius: .625rem .625rem .625rem .625rem; }

.imgp2 img, .imgp3 img, .imgp4 img, .imgp5 img, .imgp6 img, .imgp7 img, .imgp8 img, .imgp8-2 img, .imgp9 img, .imgp10 img, .imgp11 img, .imgp12 img, .imgp7-2 img, .imgp6-2 img, .imgp5-2 img, .imgp4-2 img, .imgp3-2 img {
  width: 105%;
  height: 90%;
  object-fit: cover;
  border-radius: .625rem .625rem .625rem .625rem; }

.imgp3 img, .imgp4 img, .imgp5 img, .imgp6 img, .imgp7 img, .imgp8 img, .imgp8-2 img, .imgp9 img, .imgp10 img, .imgp11 img, .imgp12 img, .imgp7-2 img, .imgp6-2 img, .imgp5-2 img, .imgp4-2 img {
  width: 100%;
  height: 82%;
  object-fit: cover;
  border-radius: .625rem .625rem .625rem .625rem; }

.imgp4 img, .imgp5 img, .imgp6 img, .imgp7 img, .imgp8 img, .imgp8-2 img, .imgp9 img, .imgp10 img, .imgp11 img, .imgp12 img, .imgp7-2 img, .imgp6-2 img, .imgp5-2 img {
  width: 105%;
  height: 82%;
  object-fit: cover;
  border-radius: .625rem .625rem .625rem .625rem; }

.imgp5 img, .imgp6 img, .imgp7 img, .imgp8 img, .imgp8-2 img, .imgp9 img, .imgp10 img, .imgp11 img, .imgp12 img, .imgp7-2 img, .imgp6-2 img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: .625rem .625rem .625rem .625rem; }

.imgp6 img, .imgp7 img, .imgp8 img, .imgp8-2 img, .imgp9 img, .imgp10 img, .imgp11 img, .imgp12 img, .imgp7-2 img {
  width: 105%;
  height: 90%;
  object-fit: cover;
  border-radius: .625rem .625rem .625rem .625rem; }

.imgp7 img, .imgp8 img, .imgp8-2 img, .imgp9 img, .imgp10 img, .imgp11 img, .imgp12 img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: .625rem .625rem .625rem .625rem; }

.imgp8 img {
  width: 105%;
  height: 90%;
  object-fit: cover;
  border-radius: .625rem .625rem .625rem .625rem; }

.CompraDes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  height: 38px;
  width: 100%;
  margin-top: 1.25rem; }

.boton-comprades {
  display: inline-block;
  text-decoration: none;
  color: #D6FF38;
  background-color: black;
  padding: 10px 30px;
  font-size: 1.375rem;
  margin-top: 1.25rem;
  font-family: Code; }

.Descuento252 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: none;
  background: white;
  background: -moz-linear-gradient(top, white 0%, white 21%, #d6ff38 58%, #d6ff38 59%, #d6ff38 100%);
  background: -webkit-gradient left top, left bottom, color-stop 0%, white, color-stop 21%, white, color-stop(58%, #d6ff38), color-stop(59%, #d6ff38), color-stop(100%, #d6ff38);
  background: -webkit-linear-gradient(top, white 0%, white 21%, #d6ff38 58%, #d6ff38 59%, #d6ff38 100%);
  background: -o-linear-gradient(top, white 0%, white 21%, #d6ff38 58%, #d6ff38 59%, #d6ff38 100%);
  background: -ms-linear-gradient(top, white 0%, white 21%, #d6ff38 58%, #d6ff38 59%, #d6ff38 100%);
  background: linear-gradient(to bottom, white 0%, white 21%, #d6ff38 58%, #d6ff38 59%, #d6ff38 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6ff38', GradientType=0 );
  height: 37.75rem;
  margin-top: 2.5rem; }
  .Descuento252 img {
    height: 37.75rem;
    width: 450px; }

.Texto25 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
  padding-left: 18.75rem; }
  .Texto25 img {
    height: 10%;
    width: 10%; }

.T1 {
  color: black;
  font-size: 1.5rem;
  font-family: Code; }

.T2 {
  color: black;
  font-size: 4rem;
  font-weight: bold;
  font-family: Akira;
  margin-top: .3125rem; }

.T3 {
  color: black;
  font-size: .8125rem;
  font-family: Code;
  margin-top: .3125rem; }

.Descuento10 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
  color: black;
  font-size: 1.5rem;
  font-family: Akira;
  text-decoration: underline; }
  .Descuento10 img {
    height: 54px;
    width: 54px; }

footer {
  display: grid;
  grid-template-columns: repeat 1, 1fr;
  grid-template-rows: none;
  justify-content: none;
  align-content: none;
  grid-template-areas: none;
  width: 100%; }

.Pie1 {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  gap: none;
  border: solid 2px black; }

.Contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1.25rem 0.3125rem;
  background-color: black;
  color: white;
  font-size: 1.0625rem;
  font-family: Code;
  height: 31.1875rem;
  width: 40%;
  padding-left: 15.625rem; }

.DTP {
  font-size: 1.375rem;
  font-family: Akira;
  font-weight: bold;
  text-decoration: underline; }

.Info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left;
  gap: 12.5rem;
  color: black;
  font-size: .9375rem;
  font-family: Code;
  height: 31.1875rem;
  width: 60%;
  padding-left: 9.375rem; }

.Tienda, .Nosotros, .TyC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  gap: 0.9375rem; }

.Titulo {
  font-size: 1.25rem; }

.Pie2 {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  gap: none; }

.Redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4.375rem;
  border: solid 2px black;
  height: 5.625rem;
  width: 40%; }
  .Redes img {
    height: 50px;
    width: 50px; }

.Copi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  border: solid 2px black;
  height: 5.625rem;
  width: 60%;
  font-size: 1.125rem;
  font-family: Code;
  background-color: #D6FF38; }

.Titulos {
  height: 14.25rem;
  background: white;
  background: -moz-linear-gradient(top, white 0%, white 1%, #d6ff38 51%, #d6ff38 71%, #d6ff38 100%);
  background: -webkit-gradient left top, left bottom, color-stop(0%, white), color-stop(1%, white), color-stop(51%, #d6ff38), color-stop(71%, #d6ff38), color-stop(100%, #d6ff38);
  background: -webkit-linear-gradient(top, white 0%, white 1%, #d6ff38 51%, #d6ff38 71%, #d6ff38 100%);
  background: -o-linear-gradient(top, white 0%, white 1%, #d6ff38 51%, #d6ff38 71%, #d6ff38 100%);
  background: -ms-linear-gradient(top, white 0%, white 1%, #d6ff38 51%, #d6ff38 71%, #d6ff38 100%);
  background: linear-gradient(to bottom, white 0%, white 1%, #d6ff38 51%, #d6ff38 71%, #d6ff38 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6ff38', GradientType=0 ); }

.Prendas2 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, 500px);
  justify-content: center;
  align-content: center;
  grid-template-areas: none;
  width: 100%; }

.Prenda2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
  width: 17.0625rem;
  height: 23.4375rem;
  margin: 80px; }

.imgp1-2 {
  height: 95%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  gap: none; }
  .imgp1-2 img {
    width: 100%;
    height: 89%;
    object-fit: cover;
    border-radius: .625rem .625rem .625rem .625rem; }

.imgp2-2 img {
  width: 105%;
  height: 90%;
  object-fit: cover;
  border-radius: .625rem .625rem .625rem .625rem; }

.imgp3-2 img {
  width: 100%;
  height: 82%;
  object-fit: cover;
  border-radius: .625rem .625rem .625rem .625rem; }

.imgp4-2 img {
  width: 105%;
  height: 82%;
  object-fit: cover;
  border-radius: .625rem .625rem .625rem .625rem; }

.imgp5-2 img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: .625rem .625rem .625rem .625rem; }

.imgp6-2 img {
  width: 105%;
  height: 90%;
  object-fit: cover;
  border-radius: .625rem .625rem .625rem .625rem; }

.imgp7-2 img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: .625rem .625rem .625rem .625rem; }

.imgp8-2 img, .imgp9 img, .imgp10 img, .imgp11 img, .imgp12 img {
  width: 105%;
  height: 90%;
  object-fit: cover;
  border-radius: .625rem .625rem .625rem .625rem; }

.imgp9 img, .imgp10 img, .imgp11 img, .imgp12 img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: .625rem .625rem .625rem .625rem; }

.imgp10 img, .imgp11 img, .imgp12 img {
  width: 105%;
  height: 90%;
  object-fit: cover;
  border-radius: .625rem .625rem .625rem .625rem; }

.imgp11 img, .imgp12 img {
  width: 105%;
  height: 90%;
  object-fit: cover;
  border-radius: .625rem .625rem .625rem .625rem; }

.imgp12 img {
  width: 105%;
  height: 90%;
  object-fit: cover;
  border-radius: .625rem .625rem .625rem .625rem; }

.mainLogReg {
  display: grid;
  grid-template-columns: repeat(1, 1fr); }

.SecIni {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: left; }

.IniciarSesion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 840px;
  height: 779px; }

.IniciarSesionT {
  font-size: 6rem; }

.IniciarSesion div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem; }

.IniciarSesion div p a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
  font-weight: bold; }

.Formu div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  font-size: 1.75rem; }

.Contra p {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.25rem; }

.Error {
  color: red;
  font-size: 1rem; }

button {
  width: 490px;
  height: 93px;
  font-size: 2rem;
  background-color: black;
  color: white; }

input {
  width: 492px;
  height: 60px;
  font-size: 2rem;
  background-color: white;
  color: black;
  border: solid 3px black; }

/*todo lo correspondiente a los mediaquerry*/
