footer{
    @include grid(repeat (1,1fr),none,none,none,none)
    width: 100%;
}
.Pie1{
    @include flex(row,none,none,none)
    border: solid 2px black;
}
.Contacto{
    @include flex(column,center,left, 1.25rem .3125rem);
    background-color: black;
    color: white;
    font-size: 1.0625rem;
    font-family: Code;
    height: 31.1875rem;
    width: 40%;
    padding-left: 15.625rem;
}
.DTP{
    font-size: 1.375rem;
    font-family: Akira;
    font-weight: bold;
    text-decoration: underline;
}
.Info{
    @include flex(row,center,left,12.5rem);
    color: black;
    font-size: .9375rem;
    font-family: Code;
    height: 31.1875rem;
    width: 60%;
    padding-left: 9.375rem;
}
.Tienda{
    @include flex(column,center,none,.9375rem);
}
.Nosotros{
    @extend .Tienda;
}
.TyC{
    @extend .Tienda;
}
.Titulo{
    font-size: 1.25rem;
}
.Pie2{
    @include flex(row,none,none,none)
}
.Redes{
    @include flex(row,center,center,4.375rem);
    border: solid 2px black;
    height: 5.625rem;
    width: 40%;
    img{
        height: 50px;
        width: 50px;
    }
}
.Copi{
    @include flex(row,center,center,none);
    border: solid 2px black;
    height: 5.625rem;
    width: 60%;
    font-size: 1.125rem;
    font-family: Code;
    background-color: #D6FF38;
}