@media(max-width:1670px){
    .img1{
        img{
            height: 500px;
            width: 450px;
        }
    }
    .img2{
        img{
            height: 575px;
            width: 450px;
        }
    }
    
    main{
        width: 98.9vw;
    }
    .Pie1{
        width: 98.9vw;
    }
    .Info{
    padding-left: 110px;
    }
}