@media(max-width:1400px){
    .img{
        padding-left: 40px;
    }
    .img1{
        img{
            height: 450px;
            width: 300px;
        }
    }
    .img2{
        img{
            height: 525px;
            width: 350px;
        }
    }

    .Prenda{
        margin: 10px;
    }

    main{
        width: 98.7vw;
    }
    .Pie1{
        width: 98.7vw;
    }
    .Info{
        padding-left: 80px;
        gap: 70px;
        }
}