@media(max-width:1550px){
    .img1{
        img{
            height: 500px;
            width: 400px;
        }
    }
    .img2{
        img{
            height: 575px;
            width: 400px;
        }
    }

    .Prenda{
        margin: 20px;
    }

    main{
        width: 98.8vw;
    }
    .Pie1{
        width: 98.8vw;
    }
    .Info{
    padding-left: 110px;
    }
}